application/__pycache__/api_call.cpython-310.pyc
application/__pycache__/models.cpython-310.pyc
application/__pycache__/queries.cpython-310.pyc
migrations/versions/0083d2491118_.py
migrations/versions/__pycache__/0083d2491118_.cpython-310.pyc
application/__pycache__/api_call.cpython-310.pyc
application/__pycache__/models.cpython-310.pyc
application/__pycache__/queries.cpython-310.pyc
application/__pycache__/
application/__pycache__/queries.cpython-310.pyc
__pycache__/
